<div id="secondary-sidebar">
    <div class="nano">
        <div class="nano-content">
            <div id="secondary-sidebar-content">
                <div class="controls-bar">
                    <button class="fa fa-bars" id="ssToggle"></button>
                </div>
                <div class="sidebar-menu">
                    <h3>Articles</h3>
                    <ul>
                        <li {% if active == "home" %}class="active"{% endif %}><a href="#">Lorem ipsum.</a></li>
                    </ul>
                </div>
                <div class="sidebar-menu">
                    <h3>Catégories</h3>
                    <ul>
                        <li><a href="#">Lorem ipsum.</a></li>
                    </ul>
                </div>
                <div class="sidebar-menu">
                    <h3>Mots-clés</h3>
                    <ul>
                        <li><a href="#">Lorem ipsum.</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</div>
