{% extends "ZPBAdminZooBundle:Layouts:master.html.twig" %}
{% set active_ms_menu = "zoo_foto" %}
{% block title %}Photothèque - {{parent()}}{% endblock %}
{% set subtitle = "Photothèque" %}
{% set active_ss_menu = "all_cats" %}
{% block sidebar %}{{ render(controller("ZPBAdminZooBundle:Navs:fototekSidebar", {active: active_ss_menu|default("home")})) }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <div class="h2">Catégories <small>Liste</small></div>
            </div>
        </div>
    </div>
    {% if defaultCat is empty %}
        <div class="row">
            <div class="alert alert-danger">
                <strong>Attention ! </strong> Il n'y a pas de catégorie choisie comme catégorie par défaut. Vous devez en créer en désigner une.
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if categories|length < 1 %}
                        <tr class="warning">
                            <td colspan="5">Il n'y a aucune catégories enregistrées. <a href="{{ path("zpb_admin_zoo_fototek_categories_new") }}">Créer une catégorie <i class="fa fa-hand-o-right"></i></a></td>
                        </tr>
                    {% else %}
                        {% for cat in categories %}
                            <tr>
                                <td>{{ cat.id }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
