{% extends "ZPBAdminBlogBundle:Layouts:master.html.twig" %}


{% set active_ss_menu = "home" %}

{% block content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur dolorem doloremque
        exercitationem facilis magnam, recusandae ullam vel. Explicabo perferendis perspiciatis placeat quia. Beatae
        dicta, harum labore laborum provident voluptas? Accusantium ad, aperiam architecto asperiores aspernatur
        deserunt dolorem doloremque eius enim eum fugiat harum in inventore itaque, minima necessitatibus possimus
        quaerat qui repudiandae sapiente sed sequi suscipit velit. A adipisci animi asperiores atque consequuntur cumque
        distinctio doloribus ducimus eligendi esse explicabo fuga incidunt ipsa itaque laborum maxime minima, neque
        nisi, provident quam quidem ratione repellat sequi sunt, voluptatem. Debitis ducimus ipsum nemo officiis
        provident quis sint voluptate. Exercitationem harum, quo?</p>
{% endblock %}
