{% extends "ZPBAdminBlogBundle:Layouts:master.html.twig" %}

{% set active_ss_menu = "trash" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Articles <small>corbeille ({{numDropped}})</small></h2>
            </div>
        </div>
    </div>

    {# TODO pagination #}

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Republier</th>
                        <th>Effacer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if trashes|length <1 %}
                        <tr class="info">
                            <td colspan="4">Il n'y a pas d'articles mis à la corbeille.</td>
                        </tr>
                    {% else %}
                        {% for trash in trashes %}
                            <tr>
                                <td>{{ trash.id }}</td>
                                <td>{{ trash.title }}</td>
                                <td><a class="btn btn-default" href="{{ path("zpb_admin_blog_article_set_undropped", {id: trash.id, _token: csrf_token("article_undrop")})}}"><i class="fa fa-share"></i></a></td>
                                <td><a class="btn btn-default" href=""><i class="fa fa-trash-o"></i></a></td> {# TODO #}
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
