{% extends "ZPBAdminMediatekBundle:Layouts:master.html.twig" %}

{% set active_ss_menu = "all_pdf" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <div class="h2">PDF <small>Liste</small></div>
            </div>
        </div>
    </div>

{% endblock %}
