{% extends "ZPBAdminCommonBundle:Layouts:master.html.twig" %}

{% set active_ms_menu = "home" %}

{% block main %}
    <div id="main" class="bg-default">
        <div id="secondary-sidebar">
            <div class="nano">
                <div class="nano-content">
                    <div id="secondary-sidebar-content">
                        <div class="controls-bar">
                            <button class="fa fa-bars" id="ssToggle"></button>
                        </div>
                        <div class="sidebar-menu">
                            <h3>Lorem ipsum.</h3>
                            <ul>
                                <li class="active"><a href="">Lorem ipsum.</a></li>
                                <li><a href="">Quos, voluptatem.</a></li>
                                <li><a href="">Dolore, voluptates!</a></li>
                            </ul>
                        </div>
                        <div class="sidebar-menu">
                            <h3>Lorem ipsum.</h3>
                            <ul>
                                <li><a href="">Lorem ipsum.</a></li>
                                <li><a href="">Quos, voluptatem.</a></li>
                                <li><a href="">Dolore, voluptates!</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div id="content">
            <div class="container-fluid">
                <div class="row">



                </div>
            </div>
        </div>

    </div>
{% endblock %}
